.cart-con {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 6rem;
    align-items: center;
    flex-wrap: wrap;
}

.cart-table {
    position: relative;
    max-width: 690px;
    height: 545px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.cart-header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 680px;
    height: 30px;
    background: #FEFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.cart-products {
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 330px 250px 80px;
    align-items: center;
}

.cart-product-detail {
    display: flex;
    align-items: center;
}

.cart-product-detail img {
    width: 15%;
}

.cart-product-detail p,
.cart-product-detail h3 {
    margin: 0;
}

.check-out-btn {
    background: #ffff;
    border: 1px solid #CC0D0D;
    color: #CC0D0D;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50px;
    width: 115px;
    height: 34px;
    position: absolute;
    right: 30px;
    bottom: 40px;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.check-out-btn:hover {
    transform: scale(1.1);
    background-color: #CC0D0D;
    color: #FFFFFF;
}

.bank-number {
    display: flex;
    position: relative;
    align-items: center;
    padding-left: 3rem;
    max-width: 500px;
    height: 152px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    gap: 3rem;
}

.bank-number h4 {
    margin: 0;
    text-align: center;
}

.attach_slip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 115px;
    height: 34px;
    border: 1px solid #2F9416;
    color: #2F9416;
    background: #FFFFFF;
    border-radius: 50px;
    right: 30px;
    bottom: 10px;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.attach_slip:hover {
    background: #2F9416;
    color: #FFFFFF;
    transform: scale(1.1);

}