.profile-con {
    padding-top: 10vh;
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 30% 70%;
}

.profile-right {
    padding: 3rem;
    border: 1px solid #000;
}

.profile {
    display: grid;
    grid-template-columns: auto auto;
}

.profile-left li {
    list-style: none;
}

.active {
    background-color: #A7A5B3;
    border-radius: 0 20px 20px 0;

}